#homepage h1, #ewallet h1{
   font-family: 'Roboto', sans-serif;
}

.contact{
   font-family: 'Roboto', sans-serif;
   font-size: 1rem;
}

h4, h2, #productName{
    font-family: 'Roboto', sans-serif;
  }
  #singleProduct #p_name{
     font-family: 'Roboto', sans-serif;
     font-size: 20px;
  }

  #singleProduct #price{
     font-family: 'Roboto', sans-serif;
  }
  
  /*products styles*/
  #products #productName{
    font-family: 'Roboto', sans-serif;
     /*color: #ff8080;*/
  }
  #products #productPrice{
    font-family: 'Roboto', sans-serif;
     color: #00818a;
  }

  #footer{
    margin-bottom: 0px !important;
  }

  main{
    margin-top: 72px;
  }

  .customHeight{
    margin-top: 100px !important;
  }



/* user homepage styles*/
#userHome .imghome {
  position: relative;
  width: 100%;
}

#userHome .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

#userHome .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#userHome .middle a:hover{
  background: none;
  border-color: black;
}

#userHome .imghome:hover .image {
  opacity: 0.3;
}

#userHome .imghome:hover .middle {
  opacity: 1;
}

#userHome .text {
  font-weight: 0;
  font-size: 1.8rem;
}




@media only screen and (max-width: 480px) {
    #summary table{
      font-size: 12px;
    }

    #summary .card-footer{
      font-size: 12px;
    }
    
    #myorders table{
    font-size: 15px;
    } 
} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #summary table{
      font-size: 10px;
  }

  #myorders table{
    font-size: 15px;
  } 

  #singleProduct #p_name{
    font-size: 20px;
  }

  #singleProduct #price{
    font-size: 20px;
  }

  #singleProduct .imgproduct{
    width: 300px;
  }
} 

@media only screen and (min-width: 600px) {
   #singleProduct #price{
    font-size: 18px;
  }
} 


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   #summary table{
      font-size: 16px;
    }  

    #singleProduct #p_name{
      font-size: 20px;
    }

    #singleProduct #price{
       font-size: 20px;
    }

    #products #productName{
      font-size: 15px;
    }
  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #singleProduct #p_name{
    font-size: 25px;
  }

  #singleProduct #price{
     font-size: 26px;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}